$font-primary: 'Roboto', sans-serif;
$font-color-primary: #848C93;

$btn-color-primary: #1DE278;
$btn-color-secondary: #77779D;
$btn-color-configurator: #6F91AA;
$btn-color-configurator-outlined: white;
