.visualisation {
    border-collapse: collapse;

	&__head {

	}

    &__ruler-wrapper {
        text-align: center;
    }

	&__ruler {
        position: relative;
        display: inline-block;
        font-size: 12px;
        border: 1px solid #848C93;
        padding: 1px 9px;
        background-color: white;

        &--top {


            // &:before {
            //     position: absolute;
            //     content: '';
            //     left: 0;
            //     top: 10px;
            //     height: 1px;
            //     width: 100%;
            //     background-color: black;
            // }
        }

        &--left {

        }

        &--bottom {

        }
	}

	&__body {

	}

	&__footer {

	}
}
