@import "assets/_normalize";
@import "assets/_fonts";
@import "assets/_variables";
@import "assets/_mixins";



// general styles
* {
    box-sizing: border-box;
}

body, html {
    font-family: $font-primary;
    background-color: #fff;
    color: $font-color-primary;
}

html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100%;
}
